<!Doctype html>
<html>
<body>
	<nav>
		<ul>
			<li>Home</li>
			<li>Spotify</li>
			<li><%= name %></li>
		</ul>
	</nav>
	<section id="appSpace">
		<div>appSpace here :)</div>
	</section>
</body>
</html>